**/tempCodeRunnerFile.py
myvenv/
.env
*.env
__pycache__/
**/.mp3
*.onnx.json
**/.wav
*.onnx
node_modules/
.DS_Store
bot-client.js
tasks.txt
package-lock.json
.vercel/
.render/
frontend/views/room.ejs 
frontend/views/report.ejs 
frontend/server.js 